@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookList</h1>
    <p>This is a small project made during a course online with my modifications to the project, like make it responsive and some styling.</p>
    <p>The purpose is to manage books, please Go to the Books link at the menu. Enjoy.</p>
</div>
